$mainRead: #691817;
$bacgroundColorIkons: #f8f8f8;
$mainBorderColor: #e0e0e0;
$iconsTiteleColor: #828282;
@import "./mixin.scss";

.wrapp_main_bloc_menu {
  max-width: 1232px;
  margin: 0 auto;
  z-index: 0;
  background-size: cover;
  .main_menu_logo {
    max-width: 1232px;
    height: 429px;
    background-size: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-image: url(/src/img/background-img/uqGGbef-GqinRWO-eyICnaD\mainLogoCenter\.jpeg);
  }
}

.wrap_main_bloc_conten {
  display: flex;
  flex-direction: row;
  padding: 0px 24px 0px 24px;
  background-color: #fff;
}

.left_blok_wrap {
  width: 272px;
  height: 712px;
  padding: 24px 0px 24px 0px;
  max-width: 272px;

  .wrap_change_menu_leftBloc {
    width: 272px;
    height: 47px;
    overflow: hidden;
    border: 2px solid $mainRead;
    border-radius: 8px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.5s all;
    div {
      display: flex;
      transition: 0.5s all;
      padding: 10px 16px 10px 16px;
      &:hover {
        color: $mainRead;
        transition: 0.5s all;
        box-shadow: 0px 4px 10px 3px silver;
      }
      P {
        width: 97.34px;
        margin-left: 8px;
        .discount_change_menu_leftBloc {
          font-size: x-small;
          padding: 5px;
          margin: 0px 0px 0px 5px;
          color: #fff;
          background-color: #c73836;
          border-radius: 8px;
        }
      }
      b {
        display: flex;
      }
    }

    .in_the_establishment_leftBloc {
      color: $mainRead;
    }

    .with_you_leftBloc {
      opacity: 0;
      p {
        width: 100.64px;
      }
    }
    .delivery_leftBloc {
      opacity: 0;
    }
  }
  .rightArrowIcons_change_menu_leftBloc {
    width: 16px;
    height: 16px;
    margin-top: 4px;
    margin-left: 80px;
    transition: 0.5s all;
    transform: rotate(90deg);
  }
}

.wrap_change_menu_leftBloc.active {
  height: 140px;
  transition: 0.5s all;
  .with_you_leftBloc {
    opacity: 1;
  }
  .delivery_leftBloc {
    opacity: 1;
  }
}

.center_blok_wrap {
  width: 592px;
  margin: 0px 24px 0px 24px;
  max-width: 592px;
}

.rigth_blok_wrap {
  width: 272px;
  height: 712px;
  padding: 24px 0px 24px 0px;
  max-width: 272px;
  .search_by_menu_rigth_blok {
    width: 272px;
    height: 56px;
    display: flex;
    align-items: center;
    padding-left: 16px;
    border-radius: 5px;
    border: 1px solid #c0c0c0a2;
    box-shadow: 0px 4px 10px 1px silver;
    img {
      width: 16px;
      height: 16px;
    }

    &:hover {
      border: 1px solid $mainRead;
    }
  }
  .search_bloc {
    input {
      outline: 0;
      outline-offset: 0;
      border: none;
      font-weight: 600;
      font-size: large;
    }
  }
  .symbol_warning_rigth_blok {
    color: #fff;
    margin-top: -2px;
    font-weight: 100;
    width: 272px;
    height: 23px;
    border-radius: 2px;
    background-color: #691817;
    @include centering-the-block;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s all;
  }
  .information_timeVork_rigth_blok {
    font-weight: 500;
    color: $iconsTiteleColor;
  }

  .wrap_restaurant_info_right_block {
    margin-top: 10px;
    .icons_restaurant_info_right_block {
      width: 48px;
      height: 48px;
      border-radius: 8px;
      margin-right: 12px;
      @include centering-the-block;
      background-color: $bacgroundColorIkons;
    }
    .working_hours_right_bloc {
      display: flex;
      font-size: small;
      transition: 0.2s all;
      margin-bottom: 16px;
      border-radius: 5px;

      .working_hours_txt {
        color: #828282;
      }
      .time {
        display: flex;
        align-items: center;
        margin-top: 4px;
        font-weight: 600;
      }

      .triangleIcons_right_block {
        width: 24px;
        height: 24px;
        margin-left: 5px;
        transition: 0.5s all;
      }
    }
    .address_right_block {
      display: flex;
      border-radius: 5px;
      align-items: center;
      margin-bottom: 16px;
      p {
        width: 210px;
        font-weight: 600;
        font-size: small;
      }
    }
    .phone_number_right_block {
      display: flex;
      font-size: medium;
      align-items: center;
      border-radius: 5px;
      .phone_number_txt {
        color: #828282;
      }
      .phone_number {
        font-weight: 600;
      }
    }
  }
  .hover_information_timeVork_rigth_blok {
    cursor: pointer;
    &:hover {
      color: $mainRead;
      transition: 0.2s all;
      box-shadow: 0px 1px 10px 1px #828282;
    }
  }
  .table_reservation_rigth_bloc {
    color: #fff;
    width: 272px;
    height: 48px;
    cursor: pointer;
    margin-top: 16px;
    border-radius: 8px;
    transition: 0.5s all;
    padding: 0px 16px 0px 16px;
    background-color: $mainRead;
    @include centering-the-block;
    &:hover {
      transition: 0.5s all;
      background-color: #8a1715;
      img {
        transition: 0.5s all;
        transform: rotate(180deg);
        background-color: #fff;
        box-shadow: 0px 0px 10px 5px #fff;
      }
    }
    .icons_table_reservation {
      margin-right: 10px;
      padding-top: 2px;
      @include centering-the-block;
      img {
        width: 20px;
        height: 20px;
        transition: 0.5s all;
        border-radius: 8px;
      }
    }
  }
  .leave_feedback_rigth_bloc {
    width: 272px;
    height: 48px;
    cursor: pointer;
    margin-top: 16px;
    font-weight: 600;
    border-radius: 8px;
    transition: 0.5s all;
    padding: 0px 16px 0px 16px;
    @include centering-the-block;
    border: 1px solid #c0c0c0;
    &:hover {
      transition: 0.5s all;
      border: 1px solid $mainRead;
    }
    .icons_leave_feedback {
      margin-right: 10px;
      padding-top: 2px;
      @include centering-the-block;
      img {
        width: 24px;
        height: 24px;
        transition: 0.5s all;
        border-radius: 8px;
      }
    }
  }
  .drop_window_time {
    top: 760px;
    height: 0px;
    width: 272px;
    opacity: 0;
    visibility: hidden;
    border-radius: 8px;
    position: absolute;
    display: inline-table;
    background-color: #fff;
    border: 1px solid silver;
    padding: 16px 12px 16px 12px;
    transition: 0.5s all;
    div {
      display: flex;
      font-size: small;
      color: #828282;
      border-radius: 8px;
      margin-bottom: 2px;
      padding: 8px 4px 8px 4px;
      background-color: #f8f8f8;
      justify-content: space-between;
    }
    .day_work {
      color: #fff;
      background-color: #691817;
    }
  }
}

.triangleIcons_right_block.active {
  transition: 0.5s all;
  transform: rotate(180deg);
}

.rightArrowIcons_change_menu_leftBloc.active {
  transform: rotate(270deg);
  transition: 0.5s all;
}
.drop_window_time.active {
  opacity: 1;
  height: 265px;
  transition: 0.5s all;
  visibility: visible;
}

.symbol_warning_rigth_blok.active {
  opacity: 1;
  visibility: visible;
  transition: 0.5s all;
}

div:focus-within .search_by_menu_rigth_blok {
  border: 1px solid $mainRead;
  box-shadow: 0px 1px 10px 1px $mainRead;
}
